.prize-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.prize-modal-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-content {
  position: relative;
  border-radius: 16px;
  padding: 24px 16px;
  width: 343px;
  background: #0d0a0f;
  background-image: url(/bg-prize-mobail.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.7) translateY(-20px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.3s ease;
}
@media (min-width: 768px) {
  .modal-content {
    background-image: url(/bg-prize-desktop.webp);
    padding: 48px 48px 36px;
    width: 600px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .modal-content {
    background-image: url(/bg-prize-desktop.webp);
    padding: 48px 48px 36px;
    width: 600px;
  }
} */

.prize-modal-overlay.active .modal-content {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  transition: transform 0.35s ease;
}
@media (min-width: 768px) {
  .close-btn {
    top: 24px;
    right: 24px;
    width: 46px;
    height: 46px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .close-btn {
    top: 24px;
    right: 24px;
    width: 46px;
    height: 46px;
  }
} */

.close-btn:hover {
  transform: scale(1.15);
}

.close-btn-svg path {
  fill: white;
  transition: fill 0.35s ease;
}

.close-btn:hover .close-btn-svg path {
  fill: #490eb7;
}

.close-btn-svg {
  width: 36px;
  height: 36px;
}
@media (min-width: 768px) {
  .close-btn-svg {
    top: 28px;
    right: 28px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .close-btn-svg {
    top: 28px;
    right: 28px;
  }
} */

.modal-title {
  padding-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .modal-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .modal-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
} */

.bg-prize-img {
  width: 311px;
  height: 357px;
  margin: 0 auto;
  object-fit: cover;
}
@media (min-width: 768px) {
  .bg-prize-img {
    width: 504px;
    height: 400px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .bg-prize-img {
    width: 504px;
    height: 400px;
  }
} */

.claim-button {
  border-radius: 100px;
  width: 311px;
  height: 56px;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .claim-button {
    width: 500px;
    height: 72px;
    margin-bottom: 20px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .claim-button {
    width: 500px;
    height: 72px;
    margin-bottom: 20px;
  }
} */

.wheel-info {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  line-height: 120%;
  color: #fff;
  transition: all 0.35s ease;
}

.wheel-info:hover {
  color: #490eb7;
  text-decoration: underline;
}

.modal-text {
  font-size: 12px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .modal-text {
    font-size: 15px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .modal-text {
    font-size: 15px;
  }
} */

.modal-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #00e1de;
  transition: all 0.35s ease;
}
.modal-link:hover {
  color: #490eb7;
  text-decoration: underline;
}

.info-title {
  margin-bottom: 16px;
}

.modal-content-info {
  position: relative;
  border-radius: 16px;
  padding: 24px 16px;
  width: 343px;
  background: #0d0a0f;
  transform: scale(0.7) translateY(-20px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.3s ease;
}
@media (min-width: 768px) {
  .modal-content-info {
    padding: 48px;
    width: 600px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .modal-content-info {
    padding: 48px;
    width: 600px;
  }
} */

.prize-modal-overlay.active .modal-content-info {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.lock-wrap {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background: #1c1f22;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.bg-lock-img {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}

.modal-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .modal-subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .modal-subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }
} */

.ok-button {
  border-radius: 100px;
  width: 311px;
  height: 56px;
  font-weight: 800;
  font-size: 32px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .ok-button {
    width: 500px;
    height: 72px;
  }
}
/* @media (min-width: 1280px) {
  . {
  }
} */
/* @media (min-width: 1920px) {
  .ok-button {
    width: 500px;
    height: 72px;
  }
} */
/*********************************************/
