.roulette-wheel {
  position: absolute;
  width: 292px;
  height: 292px;
  top: 19px;
  left: 24px;
  pointer-events: none;
  z-index: 3;
}
@media (min-width: 768px) {
  .roulette-wheel {
    width: 508px;
    height: 508px;
    top: 41px;
    left: 49px;
  }
}
@media (min-width: 1280px) {
  .roulette-wheel {
    width: 432px;
    height: 432px;
    top: 41px;
    left: 48px;
  }
}
@media (min-width: 1920px) {
  .roulette-wheel {
    width: 565px;
    height: 565px;
    top: 57px;
    left: 65px;
  }
}

.wheel-lights {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1%;
  left: 0;
  z-index: 3;
  pointer-events: none;
}
@media (min-width: 768px) {
  .wheel-lights {
    top: -1%;
    left: 0;
  }
}
@media (min-width: 1280px) {
  .wheel-lights {
    top: -1%;
    left: 0;
  }
}
@media (min-width: 1920px) {
  .wheel-lights {
    top: -1.5%;
    left: 1;
  }
}

.light-bulb {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff, #ffdf00);
  box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.8),
    0 0 20px 5px rgba(255, 223, 0, 0.4);
  animation: bulbBlink 1.5s ease-in-out infinite;
  /* animation: bulbBlink 3.4s ease-in-out infinite; */
}
@media (min-width: 768px) {
  .light-bulb {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1920px) {
  .light-bulb {
    width: 22px;
    height: 22px;
  }
}
/* **************  ВАРІАНТ 1:  ******************/
/* @keyframes bulbBlink {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.8),
      0 0 20px 5px rgba(255, 223, 0, 0.4);
  }
  50% {
    opacity: 0.4;
    transform: scale(0.9);
    box-shadow: 0 0 5px 2px rgba(255, 223, 0, 0.4),
      0 0 10px 3px rgba(255, 223, 0, 0.2);
  }
} */

/**************** ВАРІАНТ 2:  ******************/
/* @keyframes bulbBlink {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 1),
      0 0 25px 6px rgba(255, 230, 128, 0.9),
      0 0 40px 10px rgba(255, 215, 0, 0.7);
  }
  25% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4),
      0 0 10px 3px rgba(255, 230, 128, 0.3), 0 0 15px 4px rgba(255, 215, 0, 0.2);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.15);
    box-shadow: 0 0 20px 6px rgba(255, 255, 255, 1),
      0 0 35px 10px rgba(255, 230, 128, 1), 0 0 50px 15px rgba(255, 215, 0, 0.9);
  }
  75% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4),
      0 0 10px 3px rgba(255, 230, 128, 0.3), 0 0 15px 4px rgba(255, 215, 0, 0.2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 1),
      0 0 25px 6px rgba(255, 230, 128, 0.9),
      0 0 40px 10px rgba(255, 215, 0, 0.7);
  }
} */

/**************** ВАРІАНТ 3:  ******************/

@keyframes bulbBlink {
  0%,
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: brightness(1.5);
  }
  50% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0.7);
    filter: brightness(0.5);
  }
}

/**************** ВАРІАНТ 4  ******************/

/* @keyframes bulbBlink {
  0%,
  45%,
  55%,
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 20px 6px rgba(255, 255, 255, 1),
      0 0 40px 12px rgba(255, 230, 128, 1);
  }
  50% {
    opacity: 0.1;
    transform: translate(-50%, -50%) scale(0.6);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  }
} */

/**************** ВАРІАНТ 5  ******************/

/* @keyframes bulbBlink {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: hue-rotate(0deg) brightness(1.5);
  }
  33% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(0.85);
    filter: hue-rotate(30deg) brightness(0.7);
  }
  66% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.15);
    filter: hue-rotate(60deg) brightness(1.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: hue-rotate(0deg) brightness(1.5);
  }
} */

.light-bulb:nth-child(1) {
  animation-delay: 0s;
}
.light-bulb:nth-child(2) {
  animation-delay: 0.05s;
}
.light-bulb:nth-child(3) {
  animation-delay: 0.1s;
}
.light-bulb:nth-child(4) {
  animation-delay: 0.15s;
}
.light-bulb:nth-child(5) {
  animation-delay: 0.2s;
}
.light-bulb:nth-child(6) {
  animation-delay: 0.25s;
}
.light-bulb:nth-child(7) {
  animation-delay: 0.3s;
}
.light-bulb:nth-child(8) {
  animation-delay: 0.35s;
}
.light-bulb:nth-child(9) {
  animation-delay: 0.4s;
}
.light-bulb:nth-child(10) {
  animation-delay: 0.45s;
}
.light-bulb:nth-child(11) {
  animation-delay: 0.5s;
}
.light-bulb:nth-child(12) {
  animation-delay: 0.55s;
}
.light-bulb:nth-child(13) {
  animation-delay: 0.6s;
}
.light-bulb:nth-child(14) {
  animation-delay: 0.65s;
}
.light-bulb:nth-child(15) {
  animation-delay: 0.7s;
}
.light-bulb:nth-child(16) {
  animation-delay: 0.75s;
}
.light-bulb:nth-child(17) {
  animation-delay: 0.8s;
}
.light-bulb:nth-child(18) {
  animation-delay: 0.85s;
}
.light-bulb:nth-child(19) {
  animation-delay: 0.9s;
}
.light-bulb:nth-child(20) {
  animation-delay: 0.95s;
}
