body {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
}

.fortune-section {
  width: 100%;
  min-height: 100vh;
  background-image: url(/bg-img-mob.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .fortune-section {
    background-image: url(/bg-img-tab.webp);
  }
}
@media (min-width: 1280px) {
  .fortune-section {
    background-image: url(/bg-img-lap.webp);
  }
}
@media (min-width: 1920px) {
  .fortune-section {
    background-image: url(/bg-img-des.webp);
  }
}

.container {
  position: relative;
  min-width: 375px;
  width: 100%;

  height: 812px;
  padding: 20px 16px 80px;
  margin: 0 auto;

  /* border: 1px solid red; */
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    height: 1024px;
    padding: 40px 74px;
  }
}
@media (min-width: 1280px) {
  .container {
    min-width: 1280px;
    max-width: 1280px;
    height: 800px;
    padding: 40px 40px 20px;
  }
}
@media (min-width: 1920px) {
  .container {
    min-width: 1920px;
    max-width: 1920px;
    height: 1080px;
    padding: 40px;
  }
}

.container-coins {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(50%, -50%); */
  width: 375px;
  height: 812px;

  background-image: url(/bg-coins-mob.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* border: 1px solid rgb(9, 224, 240); */
  z-index: 1;
}
@media (min-width: 768px) {
  .container-coins {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    background-image: url(/bg-coins-tab.webp);
  }
}
@media (min-width: 1280px) {
  .container-coins {
    width: 1280px;
    height: 800px;
    background-image: url(/bg-coins-lap.webp);
  }
}
@media (min-width: 1920px) {
  .container-coins {
    width: 1920px;
    height: 1080px;
    background-image: url(/bg-coins-des.webp);
  }
}

.inner-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 46px;

  /* border: 1px solid blue; */
}
@media (min-width: 1280px) {
  .inner-text {
    padding-bottom: 30px;
  }
}

.logo-img {
  width: 192px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .logo-img {
    width: 562px;
    height: 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .logo-img {
    position: absolute;
    top: 64px;
    /* left: 120px; */
    top: 20px;
    left: 0;
    /* left: 64px; */
    width: 180px;
    height: 60px;
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .logo-img {
    /* width: 254px;
    height: 66px; */
    width: 180px;
    height: 60px;
    /* top: 66px; */
    /* left: 154px; */
    left: 0;
    top: 65px;
  }
}

.title {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 0.85;
  text-align: center;
  background: linear-gradient(
    136deg,
    #d8940b 0%,
    #eeb83a 35.1%,
    #fff6a7 49.52%,
    #dda41f 75.49%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 70px;
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 70px;
  }
}
@media (min-width: 1920px) {
  .title {
    font-size: 90px;
    padding: 14px 0;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .subtitle {
    font-size: 24px;
  }
}

.inner-fortune {
  position: relative;
  margin: 0 auto;
  width: 342px;
  height: 342px;
  z-index: 2;

  /* border: 1px solid greenyellow; */
}
@media (min-width: 768px) {
  .inner-fortune {
    width: 610px;
    height: 610px;
  }
}
@media (min-width: 1280px) {
  .inner-fortune {
    width: 530px;
    height: 530px;
  }
}
@media (min-width: 1920px) {
  .inner-fortune {
    width: 700px;
    height: 700px;
  }
}

.outer-wheel-img {
  width: 355px;
  height: 355px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 3;

  /* border: 1px solid black; */
}
@media (min-width: 768px) {
  .outer-wheel-img {
    width: 620px;
    height: 620px;
  }
}
@media (min-width: 1280px) {
  .outer-wheel-img {
    width: 530px;
    height: 530px;
  }
}
@media (min-width: 1920px) {
  .outer-wheel-img {
    width: 700px;
    height: 700px;
  }
}

.arrow-fortune-img {
  width: 51px;
  height: 67px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
@media (min-width: 768px) {
  .arrow-fortune-img {
    top: -20px;
    width: 89px;
    height: 117px;
  }
}
@media (min-width: 1280px) {
  .arrow-fortune-img {
    top: -15px;
    width: 76px;
    height: 100px;
  }
}
@media (min-width: 1920px) {
  .arrow-fortune-img {
    top: -19px;
    width: 101px;
    height: 132px;
  }
}

.wheel-center-img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 48.5%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 4;
}
@media (min-width: 768px) {
  .wheel-center-img {
    width: 148px;
    height: 148px;
  }
}
@media (min-width: 1280px) {
  .wheel-center-img {
    width: 127px;
    height: 127px;
  }
}
@media (min-width: 1920px) {
  .wheel-center-img {
    width: 167px;
    height: 167px;
  }
}

.spin-button {
  font-family: "Inter", sans-serif;
  position: relative;
  border-radius: 100px;
  width: 270px;
  height: 80px;
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  white-space: nowrap;
  border: 10px solid transparent;
  background: linear-gradient(135deg, #990aff 0%, #490eb7 100%) padding-box,
    linear-gradient(
        90deg,
        #d8940b 0%,
        #eeb83a 35.1%,
        #fff6a7 49.52%,
        #dda41f 75.49%
      )
      border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 58px auto 0;
  transition: all 0.35s ease;
  z-index: 7;
}
@media (min-width: 768px) {
  .spin-button {
    width: 350px;
    height: 80px;
    /* margin: 28px auto 0; */
    margin: 20px auto 0;
  }
}
@media (min-width: 1280px) {
  .spin-button {
    width: 350px;
    height: 80px;
    margin: 1px auto 0;
  }
}
@media (min-width: 1920px) {
  .spin-button {
    width: 500px;
    height: 100px;
    margin: 16px auto 0;
  }
}

.spin-button:disabled {
  cursor: not-allowed;
  transform: none;
  border: 10px solid transparent;
  background: linear-gradient(135deg, #8d54b6 0%, #5b497c 100%) padding-box,
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) border-box,
    linear-gradient(
        90deg,
        #d8940b 0%,
        #eeb83a 35.1%,
        #fff6a7 49.52%,
        #dda41f 75.49%
      )
      border-box;
  box-shadow: 0 4px 4px 0 rgba(48, 0, 134, 0.3),
    inset 4px 4px 10px 0 rgba(255, 255, 255, 0.45),
    inset -6px -4px 10px 0 rgba(0, 0, 0, 0.45);
}
.spin-button:hover:not(:disabled) {
  transform: scale(0.97);
  background: linear-gradient(135deg, #4500c5 0%, #9340f2 50%, #b13dff 100%)
      padding-box,
    linear-gradient(
        90deg,
        #d8940b 0%,
        #eeb83a 35.1%,
        #fff6a7 49.52%,
        #dda41f 75.49%
      )
      border-box;
  box-shadow: 0 6px 30px 15px rgba(211, 132, 35, 0.4),
    inset 4px 4px 10px 0 rgba(255, 255, 255, 0.4),
    inset -6px -4px 10px 0 rgba(0, 0, 0, 0.45);
}
.spin-button:active:not(:disabled) {
  transform: scale(0.97);
  background: linear-gradient(135deg, #990aff 0%, #490eb7 100%) padding-box,
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) border-box,
    linear-gradient(
        90deg,
        #d8940b 0%,
        #eeb83a 35.1%,
        #fff6a7 49.52%,
        #dda41f 75.49%
      )
      border-box;
  box-shadow: inset 6px 5px 10px 3px rgba(0, 0, 0, 0.5);
}
.spin-button:focus-visible:not(:disabled) {
  outline: 2px solid #dda41f;
  outline-offset: 3px;
}

.bg-cat {
  width: 180px;
  height: 379px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  pointer-events: none;

  /* border: 1px solid red; */
}
@media (min-width: 768px) {
  .bg-cat {
    width: 268px;
    height: 427px;
  }
}
@media (min-width: 1280px) {
  .bg-cat {
    /* width: 314px;
    height: 530px;
    left: 1%; */
    width: 316px;
    height: 524px;
    left: 2%;
  }
}
@media (min-width: 1920px) {
  .bg-cat {
    /* width: 420px;
    height: 723px;
       left: 6%;
    */
    /* width: 445px;
    height: 737px; */
    width: 480px;
    height: 823px;
    left: 6%;
  }
}

.bg-dog {
  width: 164px;
  height: 435px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  pointer-events: none;

  /* border: 1px solid red; */
}
@media (min-width: 768px) {
  .bg-dog {
    width: 251px;
    height: 519px;
  }
}
@media (min-width: 1280px) {
  .bg-dog {
    /* width: 360px;
    height: 604px; */
    /* right: 1%; */
    /* right: -1%; */
    width: 364px;
    height: 572px;
    right: 0;
  }
}
@media (min-width: 1920px) {
  .bg-dog {
    /* width: 453px;
    height: 824px;
       right: 5%;
    */
    /* width: 514px;
    height: 800px; */
    width: 544px;
    height: 885px;
    right: 2%;
    right: 1%;
  }
}

.podium {
  /* width: 349px;
  height: 380px; */
  width: 410px;
  height: 401px;
  position: absolute;
  right: 50%;
  bottom: -8%;
  transform: translate(50%, -50%);
  pointer-events: none;
  z-index: 1;

  /* border: 1px solid beige; */
}
@media (min-width: 768px) {
  .podium {
    width: 694px;
    height: 525px;
    bottom: -26%;
  }
}
@media (min-width: 1280px) {
  .podium {
    /* width: 583px;
    height: 489px;
    bottom: -30%; */
    width: 620px;
    height: 536px;
    bottom: -39%;
  }
}
@media (min-width: 1920px) {
  .podium {
    /* width: 796px;
    height: 749px;
    bottom: -35%; */
    width: 44%;
    height: 58%;
    bottom: -29%;
  }
}
